<a href="https://colab.research.google.com/github/Vidzhel/data-analysis/blob/main/Lab_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!wget https://github.com/Yorko/mlcourse.ai/raw/main/data/mlbootcamp5_train.csv

--2023-02-19 15:33:02--  https://github.com/Yorko/mlcourse.ai/raw/main/data/mlbootcamp5_train.csv
Resolving github.com (github.com)... 140.82.112.3
Connecting to github.com (github.com)|140.82.112.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/Yorko/mlcourse.ai/main/data/mlbootcamp5_train.csv [following]
--2023-02-19 15:33:03--  https://raw.githubusercontent.com/Yorko/mlcourse.ai/main/data/mlbootcamp5_train.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2941524 (2.8M) [text/plain]
Saving to: ‘mlbootcamp5_train.csv’

mlbootcamp5_train.c 100%[===================>]   2.80M  --.-KB/s    in 0.04s

2023-02-19 15:33:04 (62.7 MB/s) - ‘mlbootcamp5_train.csv’ saved [2941524/2941524]

In [3]:
import numpy as np
import pandas as pd

df = pd.read_csv('mlbootcamp5_train.csv', sep=';',index_col='id')

In [4]:
df.head(10)

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0
8,21914,1,151,67.0,120,80,2,2,0,0,0,0
9,22113,1,157,93.0,130,80,3,1,0,0,1,0
12,22584,2,178,95.0,130,90,3,3,0,0,1,1
13,17668,1,158,71.0,110,70,1,1,0,0,1,0
14,19834,1,164,68.0,110,60,1,1,0,0,0,0

Скільки чоловіків і жінок представлено в цьому наборі
даних? Не було дано опису ознаки «стать» (якої статі відповідає 1, а якої - 2 в
ознаці gender) - це можна визначити подивившись на зріст, при розумному
припущенні в середньому чоловіки вище.

In [64]:
df["gender"] = df["gender"].astype("category")
dfByGender = df.groupby("gender")
genderIdSortedByAverageHeight = dfByGender["height"].mean().sort_values(ascending=False).index.values
mapping = [[gender, "man"] if index%2 == 0 else [gender, "woman"] for index, gender in enumerate(genderIdSortedByAverageHeight)]
df["gender"] = df["gender"].cat.rename_categories(dict(mapping))
df.head(10)

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,man,168,62.0,110,80,1,1,0,0,1,0
1,20228,woman,156,85.0,140,90,3,1,0,0,1,1
2,18857,woman,165,64.0,130,70,3,1,0,0,0,1
3,17623,man,169,82.0,150,100,1,1,0,0,1,1
4,17474,woman,156,56.0,100,60,1,1,0,0,0,0
8,21914,woman,151,67.0,120,80,2,2,0,0,0,0
9,22113,woman,157,93.0,130,80,3,1,0,0,1,0
12,22584,man,178,95.0,130,90,3,3,0,0,1,1
13,17668,woman,158,71.0,110,70,1,1,0,0,1,0
14,19834,woman,164,68.0,110,60,1,1,0,0,0,0

In [65]:
dfByGender.size()

gender
woman    45530
man      24470
dtype: int64

Хто в середньому рідше вказує, що вживає алкоголь -
чоловіки чи жінки?

In [67]:
dfByGender["alco"].mean()

gender
woman    0.025500
man      0.106375
Name: alco, dtype: float64

У скільки разів (округлити, round) відсоток курців серед
чоловіків більше, ніж відсоток курців серед?

In [91]:
filteredDfByGender = df[df["smoke"] == 1].groupby("gender")
print(filteredDfByGender.size())
print(dfByGender.size())
percent_of_smokers_per_gender = filteredDfByGender.size() / dfByGender.size() * 100
print(percent_of_smokers_per_gender)
result = percent_of_smokers_per_gender["man"] / percent_of_smokers_per_gender["woman"]
print(f"Result: {round(result)}")

gender
woman     813
man      5356
dtype: int64
gender
woman    45530
man      24470
dtype: int64
gender
woman     1.785636
man      21.888026
dtype: float64
Result: 12

У кого в середньому тиск вище, у жінок чи чоловіків.

In [ ]:
dfByGender["alco"].mean()

В чому вимірюється вік? На скільки місяців (приблизно)
відрізняються медіанне значення віку курців і тих хто не курить?

In [112]:
print(round(df["age"]/12/30).describe())
df_by_smoke = df.groupby("smoke")
age_median_by_somke = round(df_by_smoke["age"].median()/12)
abs(age_median_by_somke[0] - age_median_by_somke[1])

count    70000.000000
mean        54.077900
std          6.858852
min         30.000000
25%         49.000000
50%         55.000000
75%         59.000000
max         66.000000
Name: age, dtype: float64

50.0

6

In [143]:
df["age_years"] = round(df["age"]/12/30)
df["cardio_decease_group"] = "excluded" # not alligable for the experement

smoking_man_60_to_64 = df[(df["gender"] == "man") & (df["age_years"] <= 64) & (df["age_years"] >= 60) & (df["smoke"] == 1)]

low_smoking_man_60_to_64 = smoking_man_60_to_64[(smoking_man_60_to_64["ap_hi"] < 120) & (smoking_man_60_to_64["cholesterol"] == 1)]
df.loc[low_smoking_man_60_to_64.index.tolist(), 'cardio_decease_group'] = "low_risk"
high_smoking_man_60_to_64 = smoking_man_60_to_64[(smoking_man_60_to_64["ap_hi"] >= 160) & (smoking_man_60_to_64["cholesterol"] == 3)]
df.loc[high_smoking_man_60_to_64.index.tolist(), 'cardio_decease_group'] = "high_risk"

target = df[df['cardio_decease_group'] != "excluded"]
target_by_cardio_decease_group = target.groupby("cardio_decease_group")
ill_target = target[target["cardio"] == 1]
ill_target_by_cardio_decease_group = ill_target.groupby("cardio_decease_group")

ill_to_risk_percentage = ill_target_by_cardio_decease_group.size() / target_by_cardio_decease_group.size() * 100
round(ill_to_risk_percentage["high_risk"] / ill_to_risk_percentage["low_risk"])

4